body {
	background-image: url("calm meadow.jpg");
	background-repeat: no-repeat;
	background-position: center 50px; 
}

h1{
	text-align: center;
	font-family: "Monaco", "Times New Roman";
	border-style: dotted;
	border-color: blue;
	border-width: 2px;
	padding: 10px 15px 10px 15px;
	width: 250px;
	margin-bottom: 20px;
	background-color: #568469;
}

p {
	text-align: justify;
	background-color: hsl(65,45%,87%);
	font-style: italic;
	padding: 20px;
	border-color: black;
	border-width: 3px;
	border-style: dashed dotted double solid;
	width: 500px;
}

span {
	font-weight: bold;
	font-style: italic;
	color: rgb(45,78,29);
	margin-left: 2px;
	margin-right: 5px;
}